<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
	<h1>Formulaire d'inscription</h1>
	<form method="post" action="/formulaire">
	<p>Nom<br><input type="text" name="nom"></p>
	<p>Prénom<br><input type="text" name="prenom"></p>
	<p>Mot de passe<br><input type="text" name="pass1"></p>
	<p>Confirmation du mot de passe<br><input type="text" name="pass2"></p>
	<p>Adresse email<br><input type="text" name="mail"></p>
	<p>Date de naissance<br><input type="date" name="naissance"></p>
	<p>Pays<br><input type="text" name="pays"></p>
	<p>Ville<br><input type="text" name="ville"></p>
	<p>Code Postal<br><input type="text" name="codepostal"></p>
	<p>Adresse<br><input type="text" name="adresse"></p>
	<input type="submit">
	</form>
</body>
</html>

