{% extends "main.html" %}
	{% block body%}
	<style>
		#accessories_center{
			width:1020px;
			min-height:700px;
			margin-left:auto;
			margin-right:auto;
			border-left:9px orange ridge;
			border-right:9px orange ridge;
			background:url("../static/img/congruent_outline.png");
			}

		#accessories_title{
			text-align:center;
			font-weight: bold;
			margin-top:10px;
			margin-bottom:20px;

		}

		#accessories_pictures{
			text-align:center;
			margin-left:0px;

		}

		#ztext{
			margin-left:102px;
			width:800px;
			min-height:300px;
			border:1px grey;
			box-shadow:2px 2px 10px black;
			background:#C0C0C0;
			border-radius:7px;
			margin-bottom:10px;

		}

		#accesories_bottom{
			margin-left:20px;
			margin-right:20px;	
			margin-bottom:10px;
		}

		#price{
			font-size:20px;
			margin-top:10px;
			border:5px black solid;
		}
	</style>
	<div id="accessories_center">
	</br>
		<div id="backg">
			      <div class="ribbon">    
			        <h2>Accessories</h2>    
			      </div>    
			      <div class="ribbon_left"></div>
			      <div class="ribbon_right"></div>
			  </div>
			  </br>
		{% for i in range(0,3) %}
			<div id="ztext" name="{{ i }}">
				<div style="height:0.1px"></div>
				<h3 id="accessories_title">{{escape(items[i])}}</h3>
				<div style="text-align:center">

				<ul id="accessories_pictures" class="clearing-thumbs small-block-grid-4" data-clearing>
				{% for im in pictures[i] %}
				
					<li><a class="th" href="../static/img/{{escape(im)}}">
						<img src="../static/img/{{escape(im)}}"/>
					</a></li>
				{% end %}
				</ul>

				</div>
				</br>

				<div id="accesories_bottom">
					<p>{{escape(resumes[i])}}</p>
					<h4>Features : </br></h4>
					<ul>
						{% for feats in features[i] %}
							<li>{{escape(feats)}}</li>
						{% end %}
					</ul>
				</br>
					<p id="price">Price : <FONT color="#d00000"><b>{{escape(prices[i])}} €</b></FONT> &nbsp; Reference : <i>{{escape(references[i])}}</i></p>
				</div>
				<div style="height:5px"></div>	
			</div>
		{% end%}
		</br>
	</div>

	{% end %}