{% extends "main.html" %}
	{% block body%}
	<style>
		#video{
		width:800px;
		height:500px;
		border:0px;
		margin-top:10px;
		margin-left:100px;
		}

		#center_video{
			width:1020px;
			height:700px;
			margin-left:auto;
			margin-right:auto;
			border-left:9px orange ridge;
			border-right:9px orange ridge;
			background:url("../static/img/congruent_outline.png");
		}
	</style>
	<div id="center_video">
	</br>
		<div id="backg">
			     <div class="ribbon">    
			        <h2>Videos</h2>    
			     </div>    
			      <div class="ribbon_left"></div>
			<div class="ribbon_right"></div>
		</div>
		</br>
		<div class="flex-video"> <iframe src="https://www.youtube.com/embed/pUGvMKA56Es" id="video" allowFullScreen></iframe> </div>
</div>
	{% end %}